/* 初期化 */
body, header, main, footer, section, div, nav, p, a, h1, h2, h3, h4, ul, ol, li, form, input, span{
  padding: 0;
  margin: 0;
  border: none;
}
body {
  font-size: 62.5%;
}
a, a:visited, a:hover{
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}
main{
  display: block;
}
ul, ol{
  list-style: none;
}

/* 共通 */
html, body{
  height: 100%;
  width: 100%;
}
main{
  width: 100%;
  display: flex;
}

/* メニュー */
nav{
  height: 100%;
  width: 300px;
  background-color: #000000;
  color: #FFFFFF;
  position: fixed;
  left: -300px;
  z-index: 99;
}
nav li{
  width: 275px;
  margin: 0 auto;
  padding: 10px;
  color: #FFFFFF;
  font-size: 1.6em;
}
nav li:hover{
  background-color: #FFFFFF;
  color: #000000;
  transition: .4s;
}
nav:after {
  content: "";
  display: block;
  position: absolute;
  width: 0px;
  height: 40px;
  top: 0px;
  left: 300px;
  border-left: 30px solid #000000;
  border-top: 10px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 10px solid transparent;
}

/* index.html */
.main-top{
  height: 100%;
  width: 100%;
}
.content-top{
  display: block;
  width: 100%;
}
.contents{
  height: 100%;
  width: 100%;
}
  /* content0 */
.content0{
  /* background-color: #E1E7EB; */
  font-size: 1.7em;
  /* color: #4E0E2E; */
  font-family: 'Times New Roman', Georgia, 'Sylfaen', 'Palatino Linotype', 'MS serif', serif;
}
.box0, .box1{
  height: 67%;
  width: 67%;
}
.box0{
  position: absolute;
  top: 0;
  left: 0;
  border-right: 1px solid inherit;
  border-bottom: 1px solid inherit;
  /* background-color: #947B89; */
}
.box1{
  position: absolute;
  right: 0;
  bottom: 0;
  border-left: 1px solid inherit;
  border-top: 1px solid inherit;
  border-radius: 60px 0 0 0;
  /* background-color: #AEB8C3; */
}
.box1 ul{
  position: inherit;
  bottom: 0;
  padding: 5px;
}
.box2{
  height: 34%;
  width: 34%;
  position: absolute;
  top: 33%;
  left: 33%;
  background-color: inherit;
  /* border-right: 1px solid inherit;
  border-bottom: 1px solid inherit; */
  border-radius: 60px 0 60px 0;
  /* box-shadow: -1px -1px 0 1px inherit; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  font-weight: bold;
}
@keyframes flutty1{
  0% {transform: translateY(0)}
  25% {transform: translateY(-10px)}
  50% {transform: translateY(0)}
  75% {transform: translateY(-10px)}
  100% {transform: translateY(0)}
}
.box2 div{
  animation: flutty1 1s ease;
}
.box2 div:hover{
  cursor: pointer;
}
.box3{
  height: 33%;
  width: 33%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: inherit;
}
.box3 ul{
  position: inherit;
  bottom: 0;
  right: 0;
  padding: 5px;
  text-align: right;
}
    /* 色変更 */
.content0Color0, .box0Color0, .box1Color0, .content0Color1, .box0Color1, .box1Color1, .content0Color2, .box0Color2, .box1Color2, .content0Color3, .box0Color3, .box1Color3, .content0Color4, .box0Color4, .box1Color4{
  transition: .5s;
}
.content0Color0{
  color: #4E0E2E;
  background-color: #E1E7EB;
}
.box0Color0{
  background-color: #947B89;
}
.box1Color0{
  background-color: #AEB8C3;
}
.content0Color1{
  color: #9dd3a8;
  background-color: #f4f0e6;
}
.box0Color1{
  background-color: #d9d9f3;
}
.box1Color1{
  background-color: #ceefe4;
}
.content0Color2{
  color: #0000A1;
  background-color: #B9EDF8;
}
.box0Color2{
  background-color: #1F6ED4;
}
.box1Color2{
  background-color: #39BAE8;
}
.content0Color3{
  color: #e94e66;
  background-color: #e7acb9;
}
.box0Color3{
  background-color: #f09199;
}
.box1Color3{
  background-color: #f5b090;
}
.content0Color4{
  color: #295782;
  background-color: #f2d52f;
}
.box0Color4{
  background-color: #649f44;
}
.box1Color4{
  background-color: #cea85e;
}
  /* content1 */
.content1{
  display: flex;
  justify-content: center;
  align-items: center;
}
  /* content2 */
.content2{
  display: flex;
  justify-content: center;
  align-items: center;
}
  /* content3 */
.content3{
  text-align: center;
  background-color: #DDDDDD;
}
.content3 p{
  font-size: 3em;
  padding-top: 50px;
}
.content3 img{
  width: 50%;
}