/* 初期化 */
body, header, main, footer, section, div, nav, p, a, h1, h2, h3, h4, ul, ol, li, form, input, span{
  padding: 0;
  margin: 0;
  border: none;
}
body {
  font-size: 62.5%;
}
a, a:visited, a:hover{
  text-decoration: none;
  color: #000000;
}
main{
  display: block;
}
ul, ol{
  list-style: none;
}

/* 共通 */
html, body{
  height: 100%;
  width: 100%;
}
main{
  width: 100%;
  display: flex;
}

/* メニュー */
nav{
  height: 100%;
  width: 300px;
  background-color: #000000;
  color: #FFFFFF;
  position: fixed;
  left: -300px;
  z-index: 99;
}
nav li{
  width: 275px;
  margin: 0 auto;
  padding: 10px;
  color: #FFFFFF;
  font-size: 1.6em;
}
nav li:hover{
  background-color: #FFFFFF;
  color: #000000;
  transition: .4s;
}
nav:after {
  content: "";
  display: block;
  position: absolute;
  width: 0px;
  height: 40px;
  top: 0px;
  left: 300px;
  border-left: 30px solid #000000;
  border-top: 10px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 10px solid transparent;
}

/* index.html */
.main-top{
  height: 100%;
  width: 100%;
}
.content-top{
  display: block;
  width: 100%;
}
.contents{
  height: 100%;
  width: 100%;
}
/* .content0{
  background-image: url(../img/bg01.JPG);
  background-size: cover;
}
.content0 div:nth-child(1) {
  width: 100%;
  height: 100%;
}
.content0 div:nth-child(1) p{
  font-size: 24em;
  text-align: center;
  font-family: 'MS serif', 'Times New Roman', Georgia, 'Palatino Linotype', serif;
}
.content0 div:nth-child(2) {
  width: 64px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.content0 div:nth-child(2) img{
  width: 64px;
  height: 64px;
} */
.content0{
  background-color: #E1E7EB;
}
.box0, .box1{
  height: 67%;
  width: 67%;
}
.box0{
  position: absolute;
  top: 0;
  left: 0;
  border-right: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  background-color: #947B89;
}
.box1{
  position: absolute;
  right: 0;
  bottom: 0;
  border-left: 1px solid #FFFFFF;
  border-top: 1px solid #FFFFFF;
  border-radius: 60px 0 0 0;
  background-color: #AEB8C3;
}
.box2{
  height: 34%;
  width: 34%;
  position: absolute;
  top: 33%;
  left: 33%;
  background-color: #E1E7EB;
  border-right: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  border-radius: 60px 0 60px 0;
  box-shadow: -1px -1px 0 1px #FFFFFF;
}

.content3{
  text-align: center;
  background-color: #DDDDDD;
}
.content3 p{
  font-size: 3em;
  padding-top: 50px;
}
.content3 img{
  width: 50%;
}