/* 初期化 */
body, header, main, footer, section, div, nav, p, a, h1, h2, h3, h4, ul, ol, li, form, input, span{
  padding: 0;
  margin: 0;
  border: none;
}
body {
  font-size: 62.5%;
}
a, a:visited, a:hover{
  text-decoration: none;
  color: #000000;
}
main{
  display: block;
}
ul, ol{
  list-style: none;
}

/* 共通 */
html, body{
  height: 100%;
  width: 100%;
}
main{
  width: 100%;
  display: flex;
}

/* メニュー */
nav{
  height: 100%;
  background-color: #000000;
  color: #FFFFFF;
  position: fixed;
  left: -300px;
}
nav li{
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  color: #FFFFFF;
  font-size: 1.6em;
}
nav li:hover{
  background-color: #FFFFFF;
  color: #000000;
  transition: .4s;
}
nav:after {
  content: "";
  display: block;
  position: absolute;
  width: 0px;
  height: 45px;
  top: 0px;
  left: 300px;
  border-left: 15px solid #000000;
  border-top: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
@media (min-width: 481px) {
  nav{
    width: 300px;
  }
}
@media (max-width: 480px) {
  nav{
    width: 50%;
  }
}

/* index.html */
.main-top{
  height: 100%;
  width: 100%;
}
.content-top{
  display: block;
  width: 100%;
}
.contents{
  height: 100%;
  width: 100%;
}
.content0{
  display: flex;
}
.content0 div:nth-child(1) {
  width: 90%;
  text-align: center;
}
.content0 div:nth-child(1) img{
  width: auto;
  height: 90%;
}
.content0 div:nth-child(2) {
  width: 10%;
  position: absolute;
  bottom: 10%;
  right: 10px;
}
.content0 div:nth-child(2) img{
  display: block;
  width: 64px;
  height: 64px;
}